body{
	font-family: Arial, Helvetica, sans-serif;
	border-top: 17px solid #090909;
	margin: 0;
}

.wrapper{
    width: 1000px;
    margin: auto;
}

#clearfix1{
    width: 1000px;
}
#logo{
    margin: 2px;
}
.home{
    float: right;
    margin: 25px; margin-top: 45px;
    text-decoration: none;
	color: black;
}
.header{
    float: right;
    margin:25px; margin-top: 45px;
    text-decoration: none;
	color: orange;
}
#link-email{
	font-size: 13px;
	color: #999898;
	text-decoration: none;
	float: right;
}

#clearfix2{
    width: 1000px;
    height: 405px;
}
#portafolio{
    margin-top: 10px;
    margin-bottom: 10px;
}

#clearfix3{
    width: 1000px;
    height: 300px;
}
h2{
	font-size: 18px;
	padding-left: 30px;
	background-position: 0 7px;
}
h2,h3{
	text-transform: uppercase;
	color: #090909;
    padding-bottom: 12px;
}  
#about-us{
    height: 290px;
    width: 300px;
    float: left;
}
a[href=".pdf"]{
    text-decoration: none;
	color: orange;
}
#our-benefits{
    height: 290px;
    width: 300px;
    float: left; 
    margin-left: 50px;
}
#info{
    height: 5px;
    width: 5px;
}
#testimonials{
    height: 290px;
    width: 300px;
    float: right;
}

h3{
    font-size: 25px;
    margin: 20px;
}
#clearfix4{
    width: 1000px;
    height: 200px;
}
#imgportfolio{
    margin: 18px;
}

#clearfix5{
    width: 1000px;
    height: 170px;
}
.blogInfo{
    width: 680px;
    height: 170px;
    float: left;
}
.contactinfo{
    height: 170px;
    width: 270px;
    float: right;
    margin-top: 7px;
}
#imgcontact{
    margin: 6px;
}

#clearfix6{
    width: 1000px;
    height: 90px;
    background-color: rgb(175, 175, 175);
}


#footer{
	background-color: #e2e2e2;
	padding: 30px 0;
}
#footer .wrapper{
	position: relative;
}
#footer p{
	margin-bottom: 0;
}
#footer-list{
    display: inline-block;
	list-style: none;
	margin: 0;
	padding:0;
}
#footer-list li{
	float: left;
}
#footer-list li + li::before{
	content: "|";
	color: #5d5d5d;
}
#footer-list li + li{
	margin-left: 6px;
}
#footer-list a{
	color: #5d5d5d;
	font-size: 12px;
}
.footer-logo{
	height: 64px;
	position: absolute;
	right: 0;
	top: -8px;
}